<app-navbar></app-navbar>
<section class="register">
    <div class="register__container">
     <div class="register__title">
         <h1>Register</h1>
     </div>
     <div class="register__inputs">
         UserName<input type="text">
         Password<input type="password">
         Email<input type="email">
         PhoneNumber<input type="text" placeholder="+91">
         <button class="register__btn">Register</button>
     </div>
     <div class="register__footer">
         <p>Already Registered? - <a routerLink="/account/login">Login</a></p>
     </div>
    </div>
 </section>
 <app-footer></app-footer>
