<app-navbar></app-navbar>
<section class="login">
    <div class="login__container">
     <div class="login__title">
         <h1>Login</h1>
     </div>
     <div class="login__inputs">
        Email<input type="text" name="userEmail" [(ngModel)]="userEmail" required #email="ngModel">
        <br><span *ngIf="email.invalid && email.touched" style="color : red">Enter a valid email</span>
        Password<input type="password" name="userPassword" [(ngModel)]="userPassword" required #pass="ngModel">
        <br><span *ngIf="pass.invalid && pass.touched" style="color : red">Enter a valid password</span>
         <button class="login__btn" (click)="Login()">Login</button>
         <br><span *ngIf="error" style="color : red">Incorrect Email and Password</span>
     </div>
     <div class="login__footer">
         <p>New User - <a routerLink="/account/register">Register Here</a></p>
         <p>Admin Login - <a routerLink="/account/admin">Login as Admin</a></p>
     </div>
    </div>
 </section>
 <app-footer></app-footer>