.login {
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;

}

.login__container {
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 5px solid #FFA700;
    background-color: #FFFFFF;
}

.login__inputs {
    align-items: center;
    height: 12.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.login__inputs>input {
    width: 9.375rem;
    height: 25px;
}

.login__btn {
    background-color: #FFA700;
    height: 2rem;
    width: 5rem;
    border: none;

}

.login__footer>a {
    cursor: pointer;
    text-decoration: none;
}