<nav>
    <div class="logo">
        <a routerLink="/home">
            <img src="../../../assets/images/img2.png" alt="Logo">
            <p>Medicare</p>
        </a>
    </div>
    <div class="nav__inputs">
        <input type="text" placeholder="Search for medicine">
    </div>
    <div class="nav__links">
        <a><i class="fa-solid fa-cart-shopping" value="10"></i> Cart </a>
        <a routerLink="/account/login" *ngIf="isDisabled"><i class="fa-solid fa-user"></i> Sign in / Sign up</a>
    </div>
</nav>