<app-navbar></app-navbar>
<section class="admin">
    <div class="admin__container">
     <div class="admin__title">
         <h1>Admin</h1>
     </div>
     <div class="admin__inputs">
         UserName<input type="text" name="adminUsername">
         Password<input type="password" name="adminPass">
         <button class="admin__btn">Login</button>
     </div>
     <div class="admin__footer">
        <p><a routerLink="/account/login">Login as user</a></p>
     </div>
    </div>
 </section>
 <app-footer></app-footer>