.showproducts {
    background: #E7F3F1;
    height: 100vh;
    
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
}

table {
    margin: 30px auto;
    width: 1200px;
    text-align: center;
    border: 1px solid black;
    background-color: #FFFFFF;
    box-shadow: 0 1.5rem 2.5rem -.5rem rgba(#000000, .1);
}

th {
    border: 1px solid black;
    height: 45px;
}

td {
    border: 1px solid black;
    height: 40px;
}

.backtodashboard  {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: auto;
}

.backtodashboard > h1:first-child {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

