.dashboard {
    text-align: center;
    background: var(--bg-light-color);
    height: 100vh;
}

.dashboard>h1 {
    font-size: 4rem;
}


.dashlink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 7.5rem;
}

.dashlink>a {
    margin: 0px 50px;
    font-size: 2rem;
}

.card {
    width: 15.625rem;
    height: 18.75rem;
    background-color: #FFFFFF;
    box-shadow: 0 1.5rem 2.5rem -.5rem rgba(#000000, .1);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

hr {
    width: 75%;
    margin: 0px auto;
}

.card:hover {
    background-color: var(--yellow-color);
}

.card__info>h1 {
    margin-top: 20px;
}

h2 {
    font-size: 1rem;
}

a {
    all: unset;
    font-size: 1rem;
    font-weight: var(--p-weight);

}