.user {
   display: grid;
   grid-template-columns: 1fr;
   width: 90%;
   margin: 50px auto;
   height: 100vh;
   background: #E7F3F1;

}

.user__left {
    border: 5px solid #FFA700;
    width: 100%;
    background-color: #FFFFFF;
    height: fit-content;
}

.user__right {
    margin-top: 35px;
    height: fit-content;
}


img {
    width:  inherit;
    height: inherit;
   
}

.user__right {
    align-items: center;
    height: 18.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.user__right >input {
    width: 9.375rem;
    height: 25px;
}

.user__right > button {
    background-color: #FFA700;
    height: 2rem;
    width: 5rem;
    border: none;

}


@media screen and (min-width: 699px) {
    .user {
        grid-template-columns: 1fr 1fr;
    }
}