.product {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px;
    margin: 50px auto;
    height: 100vh;
    background: #E7F3F1;


}

.product__left {
    border: 5px solid #FFA700;
    width: 100%;
    background-color: #FFFFFF;
    height: fit-content;
}

.product__right {
    margin-top: 35px;
    height: 250rem;

}


img {
    width: inherit;
    height: inherit;

}

.product__right {
    align-items: center;
    height: 16.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product__right>input {
    width: 9.375rem;
    height: 25px;
}

.product__right>button {
    background-color: #FFA700;
    height: 2rem;
    width: 5rem;
    border: none;

}


@media screen and (min-width: 699px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}